body {
    height : 100vh;
    display : flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center;
    background-color: white; 
    transition: 0.8s;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;         
    border-radius: 8px;      
}
